body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main {
    text-align: center;
}

.main-image{
    text-align: center;
}

h1 {
    font-family: "Lobster";
    background-color: #fcd733;
    color: #f5f5f4;
    padding: 15px;
    box-sizing: border-box;
    margin: 0;
    /* height: 10px; */
}

/* #main-bus {
    margin-top: 20px;
} */

#main-bus img {
    width: 100%;
    height: auto;
}

.menu i {
    margin-left: 10px;
    margin-top: 10px;
}

/* .navigation{
    position: relative;
} */

.btn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#leftMenu {
    height: 100vh;
    position: absolute;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background: black;
    overflow-x: hidden;
    transition: .5s;
}

#leftNav {
    margin-top: 70px;
}

#leftNav a {
    margin-bottom: 15px;
}

#leftMenu a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: .4s;
    font-family: "Lobster";
}

#leftMenu a:hover {
    background: #f6ba09;
    color: orangered;
}

.explanation{
    /* text-align: right; */
    position: absolute;
    top: 50%;
    left: 75%;
    right: -10%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#text{
    color: #f5f5f4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}